@charset "UTF-8";
@import "variable.scss";

$fontSizLv1: 32px;
$fontSizLv2: 20px;
$fontSizLv3: 16px;
$fontSizLv4: 14px;
$fontSizLv5: 13px;
$fontSizLv6: 12px;

$titSizFir: $fontSizLv1;
$titSizSec: $fontSizLv2;
$txtSizeLv1: $fontSizLv3;
$txtSizeLv2: $fontSizLv4;
$txtSizeLv3: $fontSizLv5;
$txtSizeLv4: $fontSizLv6;

$in: auto;
$lyMargin: 8px;
$lyPadding: 32px;

@media (max-width: 860px) {
    .in {
        width: $in;
    }

    /* header */
    .header {
        margin: $lyMargin;
        padding: $lyPadding;

        &__logo {
            margin-bottom: $lyMargin;
            font-size: $titSizFir;
        }

        &__desc {
            .item {
                font-size: $txtSizeLv1;
            }
        }
    }

    .gnb {
        position: relative;
        top: 0;
        left: 0;
        padding-left: 0;
        margin-top: 128px;

        &__item {
            font-size: $txtSizeLv1;
        }
    }

    /* footer */
    .footer {
        margin: $lyMargin;
        padding: $lyPadding;
        padding-top: 128px;
        &__info {
            margin-top: $lyMargin;
            .item {
                font-size: $txtSizeLv2;
            }
        }

        &__copy {
            flex-direction: column;
            margin-top: $lyMargin;
            .item {
                font-size: $txtSizeLv2;
            }
        }
    }

    /* main layout */
    .ly-main__section {
        margin: $lyMargin;
    }

    /* card list layout */
    .ly-card__list--type01 {
        .card {
            &__header {
                min-height: auto;
                margin-bottom: 16x;
                padding-bottom: 16px;
            }

            &__list {
                gap: $lyMargin;
            }

            &__item {
                grid-area: auto / auto / span 4 / span 4;
                padding: $lyPadding;
            }

            &__tit {
                font-size: $titSizSec;
            }

            &__date {
                font-size: $txtSizeLv2;
            }

            &__view {
                top: $lyPadding;
                right: $lyPadding;
                width: 48px;
                height: 48px;
                background-size: 24px 24px;
            }

            &__type {
                &Link {
                    font-size: $fontSizLv4;
                }
            }

            &__footer {
                margin-top: 16px;
                padding-top: 16px;
            }
        }
    }
}
